<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>148VK</key>
	<string>ventilo_octo</string>
	<key>6188N</key>
	<string>poignee_noire</string>
	<key>AIL251000</key>
	<string>resistance_grille</string>
	<key>BOGOSS</key>
	<string>sofiane</string>
	<key>CPTC180W</key>
	<string>sonde</string>
	<key>D2E146HT</key>
	<string>big_ventilo</string>
	<key>DR045720</key>
	<string>ball_bearing</string>
	<key>DRACO</key>
	<string>scaphandre</string>
	<key>EV3411M7</key>
	<string>small_evco</string>
	<key>EVCP1180</key>
	<string>piece_chaise</string>
	<key>FER175</key>
	<string>angle</string>
	<key>FER306</key>
	<string>charniere_3pieces</string>
	<key>FER720</key>
	<string>charniere_metal</string>
	<key>FER920</key>
	<string>handle_lock</string>
	<key>FER921</key>
	<string>handle_lockless</string>
	<key>GALHT80P</key>
	<string>roue_noire_seule</string>
	<key>IDP17Y07F0001</key>
	<string>4_buttons</string>
	<key>LEXNGU12</key>
	<string>ampoule</string>
	<key>MRTAX</key>
	<string>moteur_vert</string>
	<key>NMB119</key>
	<string>ventilo_carre</string>
	<key>PR12/16093E/F</key>
	<string>baco</string>
	<key>PRES6020</key>
	<string>noire_blanche_relief</string>
	<key>PROG2</key>
	<string>piece_chelou</string>
	<key>RESIS1</key>
	<string>resistance_enroulee</string>
	<key>RESIS32</key>
	<string>triple_resistance_coude</string>
	<key>RIN80P</key>
	<string>white_wheel_ro</string>
	<key>RTU620</key>
	<string>big_evco</string>
	<key>RZHT80P</key>
	<string>black_wheel</string>
	<key>RZN65P</key>
	<string>white_wheel_sq</string>
	<key>VN5</key>
	<string>motor_s</string>
	<key>VN7</key>
	<string>motor_m</string>
	<key>VT180</key>
	<string>ventilo_long</string>
	<key>XR02CX-5N0C1</key>
	<string>6_buttons</string>
	<key>nan</key>
	<string>cloche_verre</string>
</dict>
</plist>
